# Grafana Data Source Provisioning
# Phase 10.102 Phase 6: Automatic Prometheus Data Source Configuration

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: "15s"
    version: 1
