# PHASE 10.102 PHASE 6: GRAFANA DATASOURCE CONFIGURATION
# Auto-provisioning of Prometheus datasource

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      httpMethod: POST
